<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
{{/* SeleksiKondisi Menggunakan Perbandingan */}}
    {{if ge .Value 80}}
        <h1>Nilai {{.Value}}</h1>
    {{else if ge .Value 60}}
        <h1>Nilai {{.Value}}</h1>
    {{else}}
        <h1>Nilai 0</h1>
    {{end}}
</body>
</html>